body{
  background-color: #a3c4d844 !important;
}
.desert-heading{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  font-weight: 1000;
  color: #FFFFFF !important;
  font-size: 5rem !important;
  /* z-index: 10; */
  white-space: nowrap;
  /* z-index: 3000 !important; */
}
.desert-sub-heading{
  font-size: 4rem !important;
  position: absolute;
  left: 20%;
  margin-top: -10px !important;
  color: rgba(255, 255, 255, 0.715);
}
.cartedPlaces {
  display: grid;
  /* gap: 1.5rem !important; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 1.5rem;
  justify-items: center;
  margin-top: 190px;
  /* background-color: #e4e8e89b; */
}
.background-imagee {
  /* background-image: url('/img/desert.jpg');  */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; /* Ensure it takes full screen if needed */
  padding: 2rem;
}

.card {
  position: relative;
  background-color:#51bcd6 !important; /* warmer, sand-blending tone */
  color: rgb(255, 253, 253) !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 10px !important;
  border: none !important;
  overflow: hidden;
  width: 300px;
  max-width: 300px !important;
  /* padding: 0px !important; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4) !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.text-inf{
  color: white !important;
  font-size: 25px;
  /* font-weight: 600; */
}
.card:hover {
  transform: scale(1) translateY(-15px) !important;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4) !important;
}

.card img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  object-fit: cover;
}
.remove-bookmarked{
  /* width: 15px; */
  position: absolute;
  /* background-color: black; */
  color: red !important;
  font-weight: bold !important;
  cursor: pointer;
  font-size:25px !important;
  top: -10px;
  right: 5px;
}
.card .content {
  padding: 1rem;
  text-align: center;
}

.card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card button {
  background-color: #e60000;
  color: white;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-button {
  padding: 0.3rem 1.1rem !important;
}

.card button:hover {
  background-color: #b80000;
} 
@media (max-width: 480px){
  .desert-heading{
    font-size: 50px !important;
  }
  .desert-sub-heading{
    font-size: 50px !important;
    left: 15%;
  }
}